# Python
__pycache__/
*.py[codz]
*.pyc
*.pyo
*.pyd
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
myenv/

# Project specific
TEST_DATA.md
logs.txt
.scannerwork/
sonar-project.properties

# Tools
.mypy_cache/
.ruff_cache/
.pytest_cache/
.DS_Store
